.pt0 {
    padding-top: 0;
}

.pb0 {
    padding-bottom: 0;
}

.mt0 {
    margin-top: 0;
}

.mb0 {
    margin-bottom: 0;
}

.ptb60 {
    padding: 60px 0 0 0;
}

.our-blog .news-style-one {
    margin-bottom: 45px
}

.news-style-one {
    position: relative;
    margin-bottom: 60px;
    max-width: 33.33%;
    float: left;
    padding: 20px;
    width: 100%;
}
